.nav {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 0px;
  padding: 10px 20px;
}

.nav a {
  padding: 10px 20px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  background-color: #fff;
  font-weight: 800;
  border-radius: 7px;
}

.nav a:first-child {
  margin-bottom: 10px;
}

.nav a:hover {
  color: #fff;
  background-color: black;
}
